footer{
    width:100%;
    color: #fafafa;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #9c9e9ffa;
}
footer a{
    
        color:white;
        text-decoration: underline;
}