<div class="container text-center cardStyles">
<div class="row">
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img src="\assets\imagenes\card-mijuego.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Adivina que Pelicula o serie es!</h5>
          <p class="card-text">Ingresa aquí para desafiar cuanto conoces de series y peliculas!</p>
          <a routerLink="/juegos/adivinalapelicula" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img src="\assets\imagenes\card-ahorcado.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Juego del ahorcado. Descubre la palabra secreta antes de que te acaben ahorcando.</p>
          <a routerLink="/juegos/ahorcado" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img src="\assets\imagenes\card-mayoromenor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
          <p class="card-text">Desde un mazo de carta se va a preguntar si la siguiente es mayor o menor.</p>
          <a routerLink="/juegos/mayoromenor" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img src="\assets\imagenes\card-preguntadobanderas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Preguntado pais</h5>
          <p class="card-text">¿Cuanto conoces de banderas? Descubre que bandera corresponde a cada país.</p>
          <a routerLink="/juegos/preguntado" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>