<div class="container text-center" id="salaChat">
    <h4>Sala de Chats!!!</h4>
    <div *ngIf="this.usuario">
    <div id="saludoChat">
        <p class="welcome">Bienvenid@ {{this.usuario.email}}<b></b></p>
        <div style="clear:both"></div>
    </div>
    <div id="chatbox">
       <div *ngFor="let item of arraySalaDeChats;" class='msgln'>{{ item.fecha }} <b>{{ item.usuario }} </b>: {{ item.mensaje }} <br></div> 
    </div>
    <div>
        <textarea [(ngModel)]="this.mensaje" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group" >
        <button class="btn btn-info" (click)="guardarMensaje()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path
                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
            </svg> Enviar</button>
    </div>
</div>
<div *ngIf="!this.usuario">
<p>Usted no esta logueado ingresa para comunicarte</p>
</div>
</div>