<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\assets\imagenes\banner3.jpg" class="d-block w-100 img-responsive" width="100%" height="100%" alt="Home" routerLink="login">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Ingresa</h1>
            <p class="descripcionCarrousel">Registrate para ingresar a la sala de juegos.</p>
            <p><a class="btn btn-md btn-info" routerLink="/login">Ingresa</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="\assets\imagenes\banner2.jpg" class="d-block w-100 img-responsive" width="100%" height="100%" alt="Login" routerLink="quiensoy">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Sobre mí.</h1>
            <p class="descripcionCarrousel">Conoce mas sobre mi trabajo!.</p>
            <p><a class="btn btn-md btn-info" routerLink="/sobremi">Conoceme</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="\assets\imagenes\banner1.jpg" class="d-block w-100 img-responsive" width="100%" height="100%" alt="Sobre Mi" routerLink="#">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Sala de Juegos.</h1>
            <p class="descripcionCarrousel"> Conoce los juegos disponibles.</p>
            <p><a class="btn btn-md btn-info" routerLink="#">Juegos</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
