<div class="bodyRegistro text-center">
    <main class="form-registro w-100 m-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
    
          <h2 class="h3 mb-3 fw-normal">Registrate</h2>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" required [(ngModel)]="this.email">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="this.password">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordDos" placeholder="Password" >
            <label for="floatingPasswordDos">Ingresa nuevamente la contraseña</label>
          </div>
          <button class="w-100 btn btn-lg btn-info" (click)="registro()">Registrate</button>
         <p class="mt-5 mb-3 text-muted">&copy; Sala de Juegos 2022</p>
      </main>
    </div>
    
